.body{
    font-family: 'Heebo', sans-serif;
    font-size: 17px;
    background-color: black;
}
.arriere{
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(
         to right,
         #000000 0%,
         #000000 35%,
         rgba(0, 0, 0, 0.1) 60%,
         rgba(0, 0, 0, 0) 100%
         ),
        linear-gradient(to bottom,
            rgba(0, 0, 0, 0.07) 0%,
            rgba(0, 0, 0, 0.07) 55%,
            rgba(0, 0, 0, 0.45) 100%), url("assets/images/media\ \(1\).jpeg");
    background-size:cover;
    background-position: 100% right;
}
.logo{
    display: flex;
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
    gap: 40px;
    margin-left: 50px;
    padding-top: 20px;
}
.navtext{
    color: white;
    font-family: 'Heebo', sans-serif;
    opacity: 0.7;
    transition: 0.5s;
}
.navtext:hover{
    opacity: 1;
}
.navtext1{
    color: white;
    font-family: 'Heebo', sans-serif;
}
.icone{
    width: 40px;
    height: 40px;
    background-color: #252a29;
    border-radius: 20%;
    border: none;
}
.connexion{
    display: flex;
    gap: 10px;
    padding-top: 20px;
}
.navbar{
    display:flex;
    gap: 850px;
}
.affiche{
    width:300px;
    height: 40px;
}
.list{
    width: 130px;
    height: 40px;
    background-color: #222324;
    border-radius: 5px;
    border: none;
    color: white;
    transition: 0.5s;
    margin-top: 20px;
}
.list:hover{
    background-color: #252a29;
}
.text2, .text3{
    color: white;
    font-family: 'Heebo', sans-serif;
}
.tt{
    opacity: 0.7;
}
.infos{
    transition: 0.5s;
}
.infos:hover{
    margin-left: 10px;
}
span{
    color: white;
    font-family: 'Heebo', sans-serif;
    transition: 0.5s;
}
span:hover{
    color: #febd29;
}
.contenu{
    margin-left: 150px;
    margin-top: 110px;
}
.conteneur{
    display: flex;
    gap: 250px;
}
.btn5{
    width: 80px;
    height: 80px;
    background-color: #424239;
    border-radius: 5px;
    border: none;
    margin-top: 170px;
}
.play{
    rotate: 90deg;
    font-size: 70px;
}

.titre, .stitre{
    color: white;
    font-family: 'Heebo', sans-serif;
    text-align: center;
}
.btn{
    width: 200px;
    height: 45px;
    border-radius: 5px;
    background-color: #febd29;
    border: none;
    font-size: 17px;
    margin-left: 43%;
    margin-top: 30px;
    transition: 0.5s;
}
.btn:hover{
    background-color: #fecf4b;
}

.text{
    color: white;
    font-family: 'Heebo', sans-serif;
    list-style: none;
}
.btn2{
    width: 270px;
    height: 55px;
    border-radius: 5px;
    background-color: #222324;
    border: none;
    font-size: 17px;
    color: white;
    margin-top: 30px;
}
.faq1{
    display: flex;
    gap: 30px;
    margin-left: 150px;
}
.details{
    display: flex;
    justify-content: space-between;
}
.faq2{
    width: 40%;
    margin-top: 20px;
}
.faq{
    display: flex;
    gap: 150px;
}
.fr{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: 17px;
    color: white;
    background-color: #222324;
    border: none;
}
.en{
    background-color: transparent;
    border: 1px solid gray;
    transition: 0.5s;
}
.en:hover{
    background-color: #222324;
}
.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 850px;
    margin-top: 50px;
}
.foot-text{
    color: white;
    font-family: 'Heebo', sans-serif;
    margin-top: 50px;
}
.foot-text1{
    color: white;
    font-family: 'Heebo', sans-serif;
    opacity: 0.7;
    transition: 0.5s;
}
.foot-text1:hover{
    opacity: 1;
}
.table{
    width: 80%;
    padding: 20px;
    text-align: justify;
    margin-left: 10%;
    margin-top: 30px;
}
.hh{
    text-align: center;
    opacity: 0.7;
    font-family: 'Heebo', sans-serif;
    color: white;
}
.icon{
    display: flex;
    gap: 20px;
    justify-content: center;
}