.body{
    font-family: 'Heebo', sans-serif;
    font-size: 17px;
    background-color: black;
}
.arriere{
    width: 100%;
    height: 125vh;
    background-image: url("assets/images/banner-app\ \(1\).jpeg");
    background-size:cover;
    background-position: 50%;
}
.navbar{
    display:flex;
    gap: 850px;
}
.logo{
    display: flex;
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
    gap: 40px;
    margin-left: 50px;
    padding-top: 20px;
}
.icone{
    width: 40px;
    height: 40px;
    background-color: #252a29;
    border-radius: 20%;
    border: none;
}
.connexion{
    display: flex;
    gap: 10px;
    padding-top: 20px;
}
.navtext{
    color: white;
    font-family: 'Heebo', sans-serif;
    opacity: 0.7;
    transition: 0.5s;
}
.navtext:hover{
    opacity: 1;
}
.navtext1{
    color: white;
    font-family: 'Heebo', sans-serif;
}
.yy{
    color: white;
    font-family: 'Heebo', sans-serif;
    text-align: center;
}
.tt1{
    font-size: 50px;
    padding-top: 80px;
}
.sous{
    font-size: 25px;
    margin-top: -20px;
}
.down{
    color: white;
    font-family: 'Heebo', sans-serif;
}
.ui{
    margin-top: -15px;
}
.btn{
    width: 170px;
    height: 45px;
    border-radius: 5px;
    background-color: #febd29;
    border: none;
    margin-top: 12px;
    font-size: 17px;
    transition: 0.5s;
}
.btn:hover{
    background-color: #fecf4b;
}
.phone{
    width: 400px;
    height: 400px;
}
.app-text{
    margin-top: 150px;
}
.app{
    display: flex;
    gap: 270px;
    margin-left: 200px;
    margin-top: 100px;
}
.btn3{
    display: flex;
    gap: 7px;
    transition: 0.5s;
}
.btn3:hover{
    gap: 15px;
}
.card{
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: 50px;
    margin-bottom: 100px;
}
.card-img{
    width: 400px;
    height: 400px;
    border-radius: 10px;
}
.card-text{
    margin-top: 60px;
}

.faq1{
    display: flex;
    gap: 30px;
    margin-left: 150px;
}
.details{
    display: flex;
    justify-content: space-between;
}
.text{
    color: white;
    font-family: 'Heebo', sans-serif;
    list-style: none;
}
.btn2{
    width: 270px;
    height: 55px;
    border-radius: 5px;
    background-color: #222324;
    border: none;
    font-size: 17px;
    color: white;
    margin-top: 30px;
}
.faq2{
    width: 40%;
    margin-top: 20px;
}
.faq{
    display: flex;
    gap: 150px;
}
.fr{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: 17px;
    color: white;
    background-color: #222324;
    border: none;
}
.en{
    background-color: transparent;
    border: 1px solid gray;
    transition: 0.5s;
}
.en:hover{
    background-color: #222324;
}

/* Footer */
.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 850px;
    margin-top: 50px;
}
.foot-text{
    color: white;
    font-family: 'Heebo', sans-serif;
    margin-top: 50px;
}
.foot-text1{
    color: white;
    font-family: 'Heebo', sans-serif;
    opacity: 0.7;
    transition: 0.5s;
}
.foot-text1:hover{
    opacity: 1;
}
.table{
    width: 80%;
    padding: 20px;
    text-align: justify;
    margin-left: 10%;
    margin-top: 30px;
}
.hh{
    text-align: center;
    opacity: 0.7;
    font-family: 'Heebo', sans-serif;
    color: white;
}
.icon{
    display: flex;
    gap: 20px;
    justify-content: center;
}

/* Offres */
.offres{
    width: 90%;
    height: 60vh;
    margin-left: 8%;
    background-color: none;
}
.cap{
    display: flex;
    gap: 13px;
}
.tcard{
    width: 380px;
    height: 130px;
    background-color: none;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    gap: 20px;
    padding: 5px;
    transition: 0.5s;
}
.tcard:hover{
    background-color: #222324;
}
.tcard-img{
    width: 130px;
    height: 120px;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 5px;
}
.cartes{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}