* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #090a0b;
}


.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 35px;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-right: auto;
    margin-left: 40px;
}

.navbar-menu a {
    text-decoration: none;
    color: #ffffff;
    font-family: Heebo;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

.navbar-actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.search-box,
.account-box {
    position: relative;
}

.search-box button,
.account-box button {
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.12);
    border: none;
    border-radius: 12px;
    color: #ffffff;
    cursor: pointer;

    transition: background 0.3s ease;
}

.search-box svg,
.account-box svg {
    width: 20px;
    height: 20px;
}

.lang-box {
    position: relative;
}

.dropdown-btn {
    display: flex;
    align-items: center;
    gap: 5px;

    background: transparent;
    border: none;

    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.dropdown-btn svg {
    width: 16px;
    height: 16px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    min-height: 120px;
    margin-top: 8px;
    background: #0c0e0f;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    z-index: 1000;
}

.dropdown-content button {
    display: block;
    width: 100%;
    padding: 12px 15px;
    border: none;
    background: #0c0e0f;
    color: #ffffff;
    text-align: left;
}

.dropdown-content button:hover {
    background: #f0f0f0;
}

.lang-box:hover .dropdown-content {
    display: block;
}

.hero-bannire {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right,
            rgba(61, 43, 27, 0.88) 0%,
            rgba(61, 43, 27, 0.60) 35%,
            rgba(61, 43, 27, 0.32) 65%,
            rgba(20, 18, 15, 0.20) 100%),
        linear-gradient(to bottom,
            rgba(0, 0, 0, 0.05) 0%,
            rgba(0, 0, 0, 0.05) 55%,
            rgba(0, 0, 0, 0.45) 100%),
        url(assets/images/bannièrefilm.jpg);
    background-size: cover;
    background-position: 50% right;
    background-repeat: no-repeat;
}

.hero-content {
    position: absolute;
    left: 210px;
    top: 230px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero-title img {
    display: block;
    width: 250px;
    height: auto;
}

.hero-buttons {
    display: flex;
    gap: 8px;
    margin-top: 35px;
}

.reserve-btn,
.list-btn {
    width: 226px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-family: Heebo;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
}

.reserve-btn {
    gap: 10px;
    border: none;
    background-color: #ffb91f;
    color: #090a0b;
}

.list-btn {
    gap: 8px;
    border: 1px solid rgba(255, 255, 255, 0.12);
    background-color:  rgba(255, 255, 255, 0.18);
    color: #ffffff;
}

.cinema-films {
    width: 100%;
    padding: 0 23px 40px;
    box-sizing: border-box;
}

.film-section {
    padding-bottom: 40px;
}

.film-section+.film-section {
    border-top: 1px solid #202123;
    padding-top: 38px;
}

.section-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.section-title svg {
    width: 14px;
    height: 14px;
    position: relative;
    top: 1px;
}

.title-left {
    display: flex;
    align-items: center;
    gap: 9px;
}

.title-left h2 {
    margin: 0;
    color: #ffffff;
    font-family: Heebo;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}

.title-left span {
    color: #777777;
    font-family: Heebo;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.all-films {
    display: flex;
    align-items: center;
    gap: 9px;
    color: #ffffff;
    text-decoration: none;
    font-family: Heebo;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.films-list {
    display: flex;
    gap: 16px;
    width: 100%;
    overflow: hidden;
}

.film-item {
    flex: 0 0 150px;
    width: 150px;
}

.film-img {
    position: relative;
    width: 150px;
    height: 201px;
}


.film-img img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.film-item p {
    margin: 9px 0 0;
    color: #ffffff;
    font-family: Heebo;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.new {
    position: absolute;
    top: 8px;
    right: 5px;
    padding: 5px 7px;
    background-color: #e90000;
    color: #ffffff;
    font-family: Heebo;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

.vente {
    position: absolute;
    top: 8px;
    right: 5px;
    padding: 5px 7px;
    background-color: #feb91e;
    color: #090a0b;
    font-family: Heebo;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}


.help-section {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    border: 1px solid #242629;
    width: 100%;
    margin: 0 auto;
    margin-top: 0;
    padding: 50px 15px;
    gap: 5px;
}

.help-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 24px;
    align-items: center;
    justify-content: center;
}

.help-section-header {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 20px;
}

.help-section-header img {
    width: 45px;
    height: 45px;
    object-fit: contain;
}

.help-section-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.help-section-content h2 {
    margin: 0;
    font-family: Heebo;
    font-size: 32px;
    font-weight: 800;
    line-height: 40px;
    color: #ffffff;
}

.help-section-content p {
    margin: 0;
    font-family: Heebo;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
}

.btn-help {
    display: flex;
    align-items: center;
    margin-right: auto;
    gap: 10px;
    padding: 0 15px;
    border: none;
    width: max-content;
    height: 48px;
    border-radius: 5px;
    background-color: #292a2c;
    color: #ffffff;
    font-family: Heebo;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
}

.btn-help svg {
    width: 18px;
    height: 18px;
}


.faq-container {
    max-width: 650px;
    margin: 0 auto;
    padding: 0 20px;
}

.faq-item {
    border-bottom: 1px solid #dcd3c7;
    padding: 24px 0;
}

.details {
    width: 100%;
}

.details summary svg {
    transition: transform 0.2s ease;
}

.details[open] summary svg {
    transform: rotate(180deg);
}

.faq-item summary {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    outline: none;
}

.faq-item summary svg {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
}

.faq-item summary::-webkit-details-marker {
    display: none;

}

.faq-item summary strong,
.faq-item summary {
    font-family: Heebo;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    line-height: 1.2;
}

.faq-item,
.reponse {
    font-family: Heebo;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    margin-top: 6px;
    margin-bottom: 0;
    line-height: 24px;

}

.main-footer {
    padding: 40px 20px;
}

.lang {
    max-width: 1100px;
    margin: 0 auto 40px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px 40px 20px;
    display: flex;
    justify-content: space-between;
    gap: 0;
}


.footer-column {
    flex: 1;
}

.footer-column h3 {
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    font-family: Heebo;
    line-height: 16px;
    margin-bottom: 4px;
    margin-top: 0;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column ul li a {
    color: rgb(255, 255, 255, 0.4);
    text-decoration: none;
    font-size: 12px;
    font-family: Heebo;
    font-weight: 500;
    line-height: 16px;
    transition: color 0.2s;
}

.footer-column ul li a:hover {
    color: #ffffff;
}

.social-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding-top: 20px;
}

.social-links {
    display: flex;
    gap: 12px;
}

.social-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}

.social-copyright p {
    font-family: Heebo;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: rgb(255, 255, 255, 0.4);
}